.App {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
  h1{
    font-family: "Yu Gothic UI", sans-serif;
    font-weight:500;
    padding:30px;
    text-align:center;
    color:black;
  }
  h2{
    font-family: "Yu Gothic UI", sans-serif;
    font-weight:500;
    padding-left:30px;
    padding-top:10px;
    color:black;
  }